In [1]:
import pandas as pd

df = pd.read_csv("combined_data_2023-04-03.csv")

In [2]:
df.head()
len(df)

14814

In [3]:
df['location'].value_counts()

Dallas, TX           3124
San Francisco, CA    2931
Chicago, IL          2052
Austin, TX           1878
Los Angeles, CA      1780
Seattle, WA          1660
San Diego, CA        1389
Name: location, dtype: int64

In [4]:
len(df['job_id'].value_counts())

7807