In [24]:
import pandas as pd

df = pd.read_csv("combined_data_2023-04-01.csv")

In [25]:
df.head()

,Unnamed: 0.1,job_id,job_title,location,experience,education,job_type,job_description,job_link,Unnamed: 0
0,0,d3fe7488bead34f4,Business Analyst,"Austin, TX",ENTRY_LEVEL,BACHELORS_DEGREE,FULLTIME,"LIS Business Analyst (Austin, Texas) - job pos...",https://www.indeed.com/jobs?q=Business+Analyst...,0.0
1,1,0c788d52c2a5420e,Business Analyst,"Austin, TX",ENTRY_LEVEL,BACHELORS_DEGREE,FULLTIME,Systems Operations Analyst - job post CEVA Log...,https://www.indeed.com/jobs?q=Business+Analyst...,1.0
2,2,ee82dee9280384d9,Business Analyst,"Austin, TX",ENTRY_LEVEL,BACHELORS_DEGREE,FULLTIME,Business Intelligence Analyst - job post Hire ...,https://www.indeed.com/jobs?q=Business+Analyst...,2.0
3,3,8df855078f305a53,Business Analyst,"Austin, TX",ENTRY_LEVEL,BACHELORS_DEGREE,FULLTIME,Business Analyst I - job post Silicon Labs Car...,https://www.indeed.com/jobs?q=Business+Analyst...,3.0
4,4,5a563d5d009c2306,Business Analyst,"Austin, TX",ENTRY_LEVEL,BACHELORS_DEGREE,FULLTIME,Business Intelligence Analyst - job post ABRAC...,https://www.indeed.com/jobs?q=Business+Analyst...,4.0

In [26]:
df['location'].value_counts()

Dallas, TX           3124
San Francisco, CA    2931
Chicago, IL          2052
Austin, TX           1878
San Diego, CA        1389
Seattle, WA           982
Name: location, dtype: int64

In [27]:
len(df['job_id'].value_counts())

6606