In [6]:
import pandas as pd

df = pd.read_csv("combined_data_2023-03-30.csv")

In [12]:
df.head()

,Unnamed: 0.1,job_id,job_title,location,experience,education,job_type,job_description,job_link,Unnamed: 0
0,0,b9b2897f0e6d3beb,Machine Learning Engineer,"San Francisco, CA",ENTRY_LEVEL,BACHELORS_DEGREE,fulltime,Automated Driving and Advanced Driver Assistan...,https://www.indeed.com/jobs?q=Data+Analyst&l=L...,0.0
1,1,300cc246c6570318,Machine Learning Engineer,"San Francisco, CA",ENTRY_LEVEL,BACHELORS_DEGREE,fulltime,Business analyst with EHS Background - job pos...,https://www.indeed.com/jobs?q=Data+Analyst&l=L...,1.0
2,2,5872d2bdce803274,Machine Learning Engineer,"San Francisco, CA",ENTRY_LEVEL,BACHELORS_DEGREE,fulltime,Product Quality Analyst - job post CFT Consult...,https://www.indeed.com/jobs?q=Data+Analyst&l=L...,2.0
3,0,6375f35b765a4a75,Machine Learning Engineer,"San Francisco, CA",ENTRY_LEVEL,BACHELORS_DEGREE,fulltime,Data Reporting Analyst - job post Beecan Healt...,https://www.indeed.com/jobs?q=Data+Analyst&l=L...,0.0
4,1,6595a5fedd69766d,Machine Learning Engineer,"San Francisco, CA",ENTRY_LEVEL,BACHELORS_DEGREE,fulltime,"Scaled Abuse Analyst, Trust and Safety, YouTub...",https://www.indeed.com/jobs?q=Data+Analyst&l=L...,1.0

In [11]:
df['job_title'].value_counts()

Machine Learning Engineer    5992
Name: job_title, dtype: int64